---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ResponsiveImg from "../components/ResponsiveImg.astro";
import Card from "../components/Card.astro";
import db from "../db.json";

const instaAstroImages = Object.values(
  import.meta.glob("/src/assets/img/insta/*.jpg", { eager: true }),
).map((mod) => mod.default);

const images = db["media"]
  .sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp))
  .map((m) => {
    const img = instaAstroImages.find((img) => img.src.includes(m.id));
    return {
      ...m,
      src: img,
    };
  });

const heroImage = Object.values(
  import.meta.glob("/src/assets/img/mdg/MDG_garden-sign_1e4a25.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const mapbox640 = Object.values(
  import.meta.glob("/src/assets/img/mapbox-outdoor/320x250@2x.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const mapbox768 = Object.values(
  import.meta.glob("/src/assets/img/mapbox-outdoor/384x250@2x.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const mapbox1024 = Object.values(
  import.meta.glob("/src/assets/img/mapbox-outdoor/512x250@2x.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const mapbox1280 = Object.values(
  import.meta.glob("/src/assets/img/mapbox-outdoor/640x250@2x.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const mapbox1536 = Object.values(
  import.meta.glob("/src/assets/img/mapbox-outdoor/768x250@2x.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const labyrinth = Object.values(
  import.meta.glob("/src/assets/img/labyrinth-green.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const greens = Object.values(
  import.meta.glob("/src/assets/img/veg/greens.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const sunflower = Object.values(
  import.meta.glob("/src/assets/img/veg/sunflower.JPG", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const strawberry = Object.values(
  import.meta.glob("/src/assets/img/veg/strawberry.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const squash = Object.values(
  import.meta.glob("/src/assets/img/veg/squash.JPG", {
    eager: true,
  }),
).map((mod) => mod.default)[0];
---

<Layout>
  <main class="mx-auto">
    <section id="hero-section" class="max-w-sm mx-auto w-full">
      <Image
        src={heroImage}
        alt="McCarren Demo Garden"
        class="p-8 object-contain w-full"
      />
    </section>

    <section id="about-section" class="mt-4 min-w-sm max-w-sm mx-auto">
      <div class="max-w-3xl mx-auto px-4 text-center">
        <p class="text-lg mb-8">Hello gardeners!</p>
        <p class="text-lg mb-8">
          The McCarren Park Demonstration Garden is an initiative of North
          Brooklyn Mutual Aid and GrowNYC. We're a space for environmental
          education and climate justice, and we're so happy you're here.
        </p>

        <p class="text-lg mb-8">
          There are no individual plots in our garden—we grow everything
          together. We focus on food and flowers to stock our local free
          fridges. In 2024, we harvested 935 lbs of produce for our neighbors!
          We also provide free workshops and events for the community, and a
          chance to make new friends while getting your hands a little dirty.
        </p>

        <p class="text-lg mb-8">
          Our season runs from early May to late October, and we have three to
          four gardening shifts per week. Read on for all the information you'll
          need to join us. <br />See you in the garden!
        </p>
      </div>
    </section>

    <section id="insta-section" class="p-4 min-w-sm max-w-3xl mx-auto">
      <div class="max-w-6xl mx-auto bg-center bg-[length:30%] bg-no-repeat">
        <div
          class="flex space-x-4 overflow-x-auto items-stretch snap-x snap-mandatory"
        >
          {
            images.map((i) => (
              <a
                href={i.permalink}
                target="_blank"
                class="rounded-2xl flex-shrink-0 aspect-square bg-white snap-center"
              >
                <Image
                  src={i.src}
                  width={240}
                  height={240}
                  alt="instagram photo"
                  class="rounded-2xl object-cover flex-shrink-0 aspect-square hover:opacity-75"
                  style="border: solid 2px #1e4a25;"
                />
              </a>
            ))
          }
        </div>
      </div>
    </section>

    <section id="cards-section" class="p-4 max-w-xl mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <Card image={greens} title="Getting Started">
          <p>
            Before your first volunteer shift, make sure to
            <a href="https://www.grownyc.org/waiver" target="_blank"
              >sign the waiver</a
            >. Read through our
            <a
              href="https://docs.google.com/document/d/1jRYqglmPRjCGxLIhoPQzQApvLKHElvUfJz6Uus10ors/edit?tab=t.0"
              target="_blank">Start Guide and FAQ.</a
            >
          </p>
        </Card>

        <Card image={squash} title="Garden Tools">
          <p>
            Sign up for shifts using the
            <a
              href="https://docs.google.com/document/d/1VvRDg0dtB6fMnfTPvYF0Uj974QFox-MXYCzbpVSIHl4/edit?tab=t.0"
              target="_blank">Volunteer Calendar</a
            >. When you're at the garden, track what you're harvesting with the
            <a
              href="https://docs.google.com/forms/d/1yXXd05RVFYc7SIyqKZ-NDLo9klSCBq-4cy93X5X9hVM/edit"
              target="_blank">Harvest Log.</a
            >
          </p>
        </Card>

        <Card image={strawberry} title="Keep in touch">
          <p>
            Follow us on <a
              href="https://www.instagram.com/mccarrendemogarden/?hl=en"
              target="_blank">Instagram</a
            > to find out about our upcoming events! Join our <a
              href="https://greenpointstrong.slack.com/join/shared_invite/zt-2d7kg7fcn-gWYETElPoGOThEWVqvoO_w#/shared-invite/email"
              target="_blank">Slack</a
            > chat and subscribe to our <a
              href="https://mccarrendemogarden.substack.com/"
              target="_blank">newsletter.</a
            >
          </p>
        </Card>

        <Card image={sunflower} title="Donate">
          <p>
            Support the garden and our mission by <a
              href="http://donate.mccarren.garden"
              target="_blank">making a donation.</a
            >
          </p>
        </Card>

        <div class="col-span-full min-w-sm">
          <a
            href="https://maps.app.goo.gl/XBrreUGBQAK3nwfw8"
            target="_blank"
            rel="noopener noreferrer"
          >
            <ResponsiveImg
              xs={mapbox640}
              sm={mapbox768}
              md={mapbox1024}
              lg={mapbox1024}
              xl={mapbox1024}
              alt="Map of garden location"
            />
          </a>
        </div>
      </div>
    </section>
  </main>

  <style>
    * {
      color: #1e4a25;
      font-family: "Lora";
    }

    section {
      @apply w-full;
      min-height: 250px;
    }

    /* 
    Base Color:          #2A6432 (Dark Green)
    Lighter Shade:       #3E8650 (Medium Green)
    Lightest Shade:      #A8D5B1 (Soft Pastel Green)
    Darker Shade:        #1E4A25 (Deep Forest Green)
    Accent Color:        #F2C94C (Golden Yellow)
    Complementary Color: #64322A (Earthy Brown) 

    green gradient:
    #052903
    #052502
    #042002
    #041c02
    #031702
    #021201
    #020e01
    #010901
    #010500
    #000000
    */
  </style>
</Layout>
