---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ResponsiveImg from "../components/ResponsiveImg.astro";
import Card from "../components/Card.astro";
let _images = import.meta.glob("/src/assets/*.jpg", { eager: true });
const images = Object.values(_images).map((mod) => mod.default);
images.sort((a, b) => {
  return b.src.localeCompare(a.src);
});
const heroImage = Object.values(
  import.meta.glob("/src/assets/MDG_garden-sign_01.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const mapbox640 = Object.values(
  import.meta.glob("/src/assets/img/mapbox-outdoor/320x250@2x.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const mapbox768 = Object.values(
  import.meta.glob("/src/assets/img/mapbox-outdoor/384x250@2x.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const mapbox1024 = Object.values(
  import.meta.glob("/src/assets/img/mapbox-outdoor/512x250@2x.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const mapbox1280 = Object.values(
  import.meta.glob("/src/assets/img/mapbox-outdoor/640x250@2x.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const mapbox1536 = Object.values(
  import.meta.glob("/src/assets/img/mapbox-outdoor/768x250@2x.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];

const ky = Object.values(
  import.meta.glob("/src/assets/img/people/ky.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];
const sy = Object.values(
  import.meta.glob("/src/assets/img/people/sy.png", {
    eager: true,
  }),
).map((mod) => mod.default)[0];
---

<Layout>
  <main class="min-w-sm max-w-sm mx-auto">
    <section id="hero-section" class="relative w-full">
      <Image
        src={heroImage}
        alt="Community Garden"
        class="px-8 object-contain py-8 h-full"
      />
    </section>

    <section id="about-section" class="pt-2 pb-8">
      <div class="max-w-3xl mx-auto px-4 text-center">
        <!-- <h2 class="text-3xl font-bold mb-6">About Our Garden</h2> -->
        <p class="text-lg mb-8">
          The McCarren Park Demonstration Garden was a ~$1M project developed
          between GrowNYC and the Greenpoint Community Environmental Fund in
          2015. Since 2022, the garden has been stewarded as a collaboration
          between GrowNYC and North Brooklyn Mutual Aid with programming based
          on community planning sessions. In that time, we’ve...
          <ul class="list-disc list-inside text-left">
            <li>
              Donated 2,400 lbs of fresh veggies to free fridges with over grew
              90+ varieties of plants
            </li>
            <li>
              Hosted and participated in over 50 free events on eco education
              and community building
            </li>
            <li>
              Opened for gardening hours 3-4 days a week for 8 months of the
              year
            </li>
            <li>
              Engaged 560 volunteer sign ups and 2.8K followers on Instagram
            </li>
            <li>Raised $14K for North Brooklyn Mutual Aid</li>
          </ul>
        </p>
      </div>
    </section>

    <section id="insta-section" class="">
      <div class="max-w-6xl mx-auto p-4">
        <div class="flex space-x-4 overflow-x-auto">
          {
            images.map((path) => (
              <Image
                src={path}
                width={300}
                height={300}
                alt="instagram photo"
                class="h-full rounded-2xl object-cover shadow-md flex-shrink-0 aspect-square"
              />
            ))
          }
        </div>
      </div>
    </section>

    <section>
      <Card
        image={ky}
        title="FAQ and Start Guide"
        blurb="Learn more about the garden and how to get started"
        url="https://docs.google.com/document/d/1jRYqglmPRjCGxLIhoPQzQApvLKHElvUfJz6Uus10ors/edit?tab=t.0"
      />
    </section>
    <section>
      <Card
        image={sy}
        title="Volunteer"
        blurb="Sign up to volunteer at the garden"
        url="https://airtable.com/app5nMTvpXuuhRz8Y/shrZDcxqACpuOo4dA"
      />
    </section>
    <section>
      <Card
        image={ky}
        title="Volunteer Waiver"
        blurb="Fill out the volunteer waiver"
        url="https://www.grownyc.org/waiver"
      />
    </section>
    <section>
      <Card
        image={sy}
        title="Donate"
        blurb="Support the garden and our mission"
        url="https://hcb.hackclub.com/donations/start/north-brooklyn-mutual-aid"
      />
    </section>

    <section class="bg-black overflow-hidden">
      <!-- src="https://api.mapbox.com/styles/v1/mapbox/outdoors-v12/static/pin-l-garden+EA4335(-73.949,40.72065)/-73.9517,40.7209,14.4,0/800x250@2x?access_token=pk.eyJ1IjoiZGN0YWxib3QiLCJhIjoiY2oyZTA1M2YyMDRzbjJxczVkNTAzOGxlbCJ9.d4nW2fje4KFA7TPNJoH8FA&logo=false" -->

      <!-- xs={mapbox640}
        sm={mapbox768}
        md={mapbox1024}
        lg={mapbox1280}
        xl={mapbox1536}
         -->
      <ResponsiveImg
        xs={mapbox640}
        sm={mapbox640}
        md={mapbox640}
        lg={mapbox640}
        xl={mapbox640}
        alt="Map of garden location"
      />
    </section>
  </main>
</Layout>

<!-- <div
    id="veg-background"
    style="height: 100vh; width: 100vw; position: absolute; top: 0; left: 0; z-index: -1;"
  > -->

<script>
  if (window.innerWidth > 700) {
    for (let i = 0; i < 50; i++) {
      const img = document.createElement("img");
      img.style.animation = "rotate-cute 2s infinite ease-in-out";

      const style = document.createElement("style");
      style.textContent = `
        @keyframes rotate-cute {
        0%, 100% {
          transform: rotate(-10deg);
        }
        50% {
          transform: rotate(10deg);
        }
        }
      `;
      document.head.appendChild(style);

      img.src = "/img/veg/broccoli.png";
      const vegImages = [
        "/img/veg/broccoli.png",
        "/img/veg/butternut-squash.webp",
        "/img/veg/carrot.png",
        "/img/veg/collards.png",
        "/img/veg/corn.png",
        "/img/veg/cucumber.png",
        "/img/veg/greenbean.png",
        "/img/veg/kale.png",
        "/img/veg/parsley.webp",
        "/img/veg/shishito.png",
        "/img/veg/strawberry.webp",
        "/img/veg/tomato.png",
      ];
      img.src = vegImages[Math.floor(Math.random() * vegImages.length)];
      img.addEventListener("mouseover", () => {
        img.src = vegImages[Math.floor(Math.random() * vegImages.length)];
      });
      img.style.objectFit = "contain";
      img.style.position = "relative";
      img.style.display = "inline-block";
      img.style.width = "100px";
      img.style.height = "100px";
      img.style.padding = "10px";
      document.getElementById("veg-background").appendChild(img);
    }
  }
</script>

<style>
  * {
    @apply text-gray-300;
  }

  section:nth-of-type(odd) {
    /* background-color: #a8d5b1; */
  }
  section:nth-of-type(even) {
    /* background-color: #1e4a25; */
    /* @apply text-white; */
  }

  section {
    @apply w-full;
    min-height: 250px;
  }

  /* 
  Base Color:          #2A6432 (Dark Green)
  Lighter Shade:       #3E8650 (Medium Green)
  Lightest Shade:      #A8D5B1 (Soft Pastel Green)
  Darker Shade:        #1E4A25 (Deep Forest Green)
  Accent Color:        #F2C94C (Golden Yellow)
  Complementary Color: #64322A (Earthy Brown) 
  */

  /* 
  green gradient:
  #052903
  #052502
  #042002
  #041c02
  #031702
  #021201
  #020e01
  #010901
  #010500
  #000000
  */
</style>
