---
import { Image } from "astro:assets";

const { image, title, blurb, url } = Astro.props;
---

<div class="relative flex-1 overflow-hidden w-full h-72">
  <a href={url} class="block relative w-full h-full">
    <Image
      class="absolute inset-0 w-full h-full object-cover object-center"
      src={image}
      alt={title}
    />
    <div
      class="relative z-10 px-6 py-4 bg-black bg-opacity-50 text-white h-full flex flex-col justify-start transition transition-opacity duration-300 hover:bg-opacity-75"
    >
      <h2 class="font-bold text-3xl mb-2">{title}</h2>
      <p class="text-lg">{blurb}</p>
    </div>
  </a>
</div>

<style is:global>
  @font-face {
    font-family: "Dear";
    src: url("/fonts/dear/vector.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Zine";
    src: url("/fonts/zine/vector.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>

<style>
  h2 {
    font-family: "Dear";
  }
  p {
    font-family: "Zine";
    color: white;
  }
</style>
